.naruto-bg {
    background-color: #FFA500; /* Laranja */
}

.naruto-text {
    color: #000000; /* Preto */
}

.naruto-navbar {
    background-color: #FF4500; /* Laranja escuro */
}

.naruto-card {
    border-color: #FFD700; /* Dourado */
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}